{% extends 'centered.html' %}

{% load crispy_forms_tags %}

{% block centered_content %}
  <div class="col">
    <div class="card bg-light mt-5">
      <div class="card-header">
        <h3>Login</h3>
      </div>
      <div class="card-body">
        <form method="post">
          {{ form | crispy }}
          {% csrf_token %}
          <input class="btn btn-primary btn-block" type="submit" value="Submit">
        </form>
      </div>
      <div class="card-footer text-center">
        Not registered? <a href="{% url 'signup' %}">Sign up now!</a>
      </div>
    </div>
  </div>
{% endblock %}